.left
	h2 {{book.title}}
	em written by
	h3 {{book.author}}

	h4 Additional information:

	p Pages: {{book.pages}}
	| Price: {{book.price}}

.right
	//- img(ng-src="{{book.image_url}}")

.clear

.actions
	br
	
	button(ng-click="editBook()") Edit
	button(ng-click="deleteBook()") Delete

